# Archivos generados por Visual Studio
.vs/
bin/
obj/

# Archivos de respaldo
[Bb]ackup*/
*.[Bb]ak

# Archivos de caché y logs
[Tt]humbs.db
[Tt]est[Rr]esult*/
[Ll]og/
*.log
*.log.*
*.CrashDump

# Carpeta de paquetes NuGet
packages/

# Archivos temporales de compilación
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.lib
*.obj
*.sbr
*.sdf
*.idb
*.ipch
*.tmp
*.tmp_proj
*.jfm
*.gpState

# Carpetas específicas de compilación
_ReSharper*/
[Tt]est[Rr]esult*/
*.VisualState.xml
*.csproj.user

# Archivos específicos de WPF
Generated_Code/
*.g.*
*.g.i.*
*.resources
*.resource
*.xaml.cs.cache

# Archivos específicos de diseño en WPF
*.designer.cs

# Archivos de configuración local de usuario
*.suo
*.user
*.userosscache
*.sln.docstates

